<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
    bootstrap="vendor/autoload.php"
    colors="true"
    verbose="true"
>

    <testsuites>
        <testsuite name="Crypto REST Client Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <!-- use environment variable COINRANKING_API_KEY for tests; do not store secrets here -->
        <env name="COINRANKING_API_KEY" value="" />
    </php>

</phpunit>
