<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
    bootstrap="vendor/autoload.php"
    colors="true"
    verbose="true"
>

    <testsuites>
        <testsuite name="Crypto REST Client Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <!-- variabel API_KEY bisa dipakai pada test -->
        <env name="API_KEY" value="coinrankingf28d9089eed52bca61534d80d7f1deac00ca224549b0bc22" />
    </php>

</phpunit>
