name: PHP Test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest
    env:
      COINRANKING_API_KEY: ${{ secrets.COINRANKING_API_KEY }}

    steps:
    - uses: actions/checkout@v3

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.1'
        extensions: mbstring, intl, pdo, pdo_mysql
        coverage: none

    - name: Install dependencies
      run: composer install --no-progress --prefer-dist

    - name: Run PHPUnit
      run: vendor/bin/phpunit --configuration phpunit.xml --colors=always
